#!/usr/bin/env bash
#
# Custom coolify installer
#
# {{ coolify_data_volume }}
#
#################

docker_exe='sudo -E docker'

if [ ! -f "{{ coolify_app_volume }}/.env" ]; then
    echo '
####################################
#### Missing env file required in process #####
####################################'
    exit 1
fi

buildCoolify() {
    cd {{ coolify_app_volume }}
    ${docker_exe} build --label coolify-reserve=true -t coolify \
        -f {{ coolify_data_volume }}/Dockerfile .
    cd {{ coolify_data_volume }}

    if [ $? -ne 0 ]; then
        echo '
####################################
#### Ooops something not okay! #####
####################################'
        exit 1
    fi
}

deploy() {
    ${docker_exe} stack deploy -c docker-compose.yml coollabs-coolify
}

source {{ coolify_app_volume }}/.env
${docker_exe} swarm init --advertise-addr '{{ coolify_swarm_addr }}' || true
${docker_exe} network create ${DOCKER_NETWORK} --driver overlay || true

case "$1" in
    "all")
       buildCoolify
       echo '
#################################
#### Rebuilding everything. #####
#################################'
        ${docker_exe} stack rm coollabs-coolify
        deploy
    ;;
    "coolify")
       buildCoolify
       echo '
##############################
#### Rebuilding Coolify. #####
##############################'
        ${docker_exe} service rm coollabs-coolify_coolify
        deploy
    ;;
    "proxy")
       echo '
############################
#### Rebuilding Proxy. #####
############################'
        ${docker_exe} service rm coollabs-coolify_proxy
        deploy
    ;;
    "mongodb")
       echo '
############################
#### Rebuilding Db. #####
############################'
        ${docker_exe} service rm coollabs-coolify_mongodb
        deploy
    ;;
    "upgrade-phase-1")
        buildCoolify
        echo '
################################
#### Upgrading Coolify P1. #####
################################'
    ;;
    "upgrade-phase-2")
        echo '
################################
#### Upgrading Coolify P2. #####
################################'
        ${docker_exe} service rm coollabs-coolify_coolify
        deploy
    ;;
    *)
        exit 1
     ;;
esac
